Repository trongtindev/saoke-yagi: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, npx prettier . --write

chore: add ignore .vercel
  .gitignore
Due: none

chore: fix wrong way layout :v
  app/layouts/default.vue
Due: npx prettier . --write

feat: many changes :D
  app/pages/analytics.vue
  app/pages/index.vue
  bun.lockb
  nuxt.config.ts
  package.json
  resources/summary.json
  resources/summary_byday.json
  resources/summary_cities.json
  server/utils/transaction.ts
Due: eslint, npx prettier . --write

chore: update chart statistics
  app/pages/analytics.vue
  resources/summary_cities.json
Due: npx prettier . --write

chore: optimized
  app/layouts/default.vue
  app/pages/index.vue
  bun.lockb
  package.json
Due: npx prettier . --write

chore: update records
  app/app.vue
  resources/summary.json
  resources/summary_byday.json
  resources/summary_cities.json
  server/utils/transaction.ts
Due: eslint, npx prettier . --write

Path conditions:
  eslint: any of: *.ts
  npx prettier . --write: (any of: *.ts) or (any of: *.{css,json,vue})
